name: Release

on:
  push:
    branches: [main]

jobs:
  release:
    uses: keller-solutions/.github/.github/workflows/release.yml@main
    permissions:
      contents: write
    with:
      changelog-path: plugins/keller-solutions-core/CHANGELOG.md
